.ipynb_checkpoints/
.tutorials/ipynb_checkpoints/
.tutorials/predictions/

*.pyc
*.DS_Store

# LATEX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync